<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-eattributvariable-heading"
        data-cy="EattributvariableCreateUpdateHeading"
        jhiTranslate="sgessApp.eattributvariable.home.createOrEditLabel"
      >
        Créer ou éditer un Eattributvariable
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.eattributvariable.attrname" for="field_attrname">Attrname</label>
          <input type="text" class="form-control" name="attrname" id="field_attrname" data-cy="attrname" formControlName="attrname" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.eattributvariable.attrvalue" for="field_attrvalue">Attrvalue</label>
          <input type="text" class="form-control" name="attrvalue" id="field_attrvalue" data-cy="attrvalue" formControlName="attrvalue" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.eattributvariable.isActive" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.eattributvariable.evariable" for="field_evariable">Evariable</label>
          <select
            class="form-control"
            id="field_evariable"
            data-cy="evariable"
            name="evariable"
            formControlName="evariable"
            [compareWith]="compareEvariable"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="evariableOption" *ngFor="let evariableOption of evariablesSharedCollection">{{ evariableOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
