<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="eeventualitevariable">
      <h2 data-cy="eeventualitevariableDetailsHeading">
        <span jhiTranslate="sgessApp.eeventualitevariable.detail.title">Eeventualitevariable</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ eeventualitevariable.id }}</span>
        </dd>
        <dt><span jhiTranslate="sgessApp.eeventualitevariable.evariable">Evariable</span></dt>
        <dd>
          <div *ngIf="eeventualitevariable.evariable">
            <a [routerLink]="['/evariable', eeventualitevariable.evariable.id, 'view']">{{ eeventualitevariable.evariable?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="sgessApp.eeventualitevariable.eeventualite">Eeventualite</span></dt>
        <dd>
          <div *ngIf="eeventualitevariable.eeventualite">
            <a [routerLink]="['/eeventualite', eeventualitevariable.eeventualite.id, 'view']">{{
              eeventualitevariable.eeventualite?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/eeventualitevariable', eeventualitevariable.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
