<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-egroupe-heading" data-cy="EgroupeCreateUpdateHeading" jhiTranslate="sgessApp.egroupe.home.createOrEditLabel">
        Créer ou éditer un Egroupe
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.egroupe.titregroupe" for="field_titregroupe">Titregroupe</label>
          <input
            type="text"
            class="form-control"
            name="titregroupe"
            id="field_titregroupe"
            data-cy="titregroupe"
            formControlName="titregroupe"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.egroupe.ordregroupe" for="field_ordregroupe">Ordregroupe</label>
          <input
            type="number"
            class="form-control"
            name="ordregroupe"
            id="field_ordregroupe"
            data-cy="ordregroupe"
            formControlName="ordregroupe"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.egroupe.isActive" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.egroupe.equestionnaire" for="field_equestionnaire">Equestionnaire</label>
          <select
            class="form-control"
            id="field_equestionnaire"
            data-cy="equestionnaire"
            name="equestionnaire"
            formControlName="equestionnaire"
            [compareWith]="compareEquestionnaire"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="equestionnaireOption" *ngFor="let equestionnaireOption of equestionnairesSharedCollection">
              {{ equestionnaireOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
