<div>
  <h2 id="page-heading" data-cy="SlocaliteHeading">
    <span jhiTranslate="sgessApp.slocalite.home.title">Slocalites</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sgessApp.slocalite.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-slocalite"
        [routerLink]="['/slocalite/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="sgessApp.slocalite.home.createLabel"> Créer un nouveau Slocalite </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="sgessApp.slocalite.home.search">Recherche pour Slocalite</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'sgessApp.slocalite.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="slocalites?.length === 0">
    <span jhiTranslate="sgessApp.slocalite.home.notFound">Aucun Slocalite trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="slocalites && slocalites.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="codelocalite">
            <span jhiTranslate="sgessApp.slocalite.codelocalite">Codelocalite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomlocalite">
            <span jhiTranslate="sgessApp.slocalite.nomlocalite">Nomlocalite</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parent.id">
            <span jhiTranslate="sgessApp.slocalite.parent">Parent</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="natureLocalite.id">
            <span jhiTranslate="sgessApp.slocalite.natureLocalite">Nature Localite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="typeLocalite.id">
            <span jhiTranslate="sgessApp.slocalite.typeLocalite">Type Localite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let slocalite of slocalites; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/slocalite', slocalite.id, 'view']">{{ slocalite.id }}</a>
          </td>
          <td>{{ slocalite.codelocalite }}</td>
          <td>{{ slocalite.nomlocalite }}</td>
          <td>
            <div *ngIf="slocalite.parent">
              <a [routerLink]="['/slocalite', slocalite.parent.id, 'view']">{{ slocalite.parent?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="slocalite.natureLocalite">
              <a [routerLink]="['/scodevaleur', slocalite.natureLocalite.id, 'view']">{{ slocalite.natureLocalite?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="slocalite.typeLocalite">
              <a [routerLink]="['/scodevaleur', slocalite.typeLocalite.id, 'view']">{{ slocalite.typeLocalite?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/slocalite', slocalite.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/slocalite', slocalite.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(slocalite)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="slocalites && slocalites.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
