<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="eeventualite">
      <h2 data-cy="eeventualiteDetailsHeading"><span jhiTranslate="sgessApp.eeventualite.detail.title">Eeventualite</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ eeventualite.id }}</span>
        </dd>
        <dt><span jhiTranslate="sgessApp.eeventualite.eventualitevalue">Eventualitevalue</span></dt>
        <dd>
          <span>{{ eeventualite.eventualitevalue }}</span>
        </dd>
        <dt><span jhiTranslate="sgessApp.eeventualite.isActive">Is Active</span></dt>
        <dd>
          <span>{{ eeventualite.isActive }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/eeventualite', eeventualite.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
