<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="etypevariable">
      <h2 data-cy="etypevariableDetailsHeading"><span jhiTranslate="sgessApp.etypevariable.detail.title">Etypevariable</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ etypevariable.id }}</span>
        </dd>
        <dt><span jhiTranslate="sgessApp.etypevariable.nomtypevar">Nomtypevar</span></dt>
        <dd>
          <span>{{ etypevariable.nomtypevar }}</span>
        </dd>
        <dt><span jhiTranslate="sgessApp.etypevariable.desctypevariable">Desctypevariable</span></dt>
        <dd>
          <span>{{ etypevariable.desctypevariable }}</span>
        </dd>
        <dt><span jhiTranslate="sgessApp.etypevariable.isActive">Is Active</span></dt>
        <dd>
          <span>{{ etypevariable.isActive }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/etypevariable', etypevariable.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
