<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-eunite-heading" data-cy="EuniteCreateUpdateHeading" jhiTranslate="sgessApp.eunite.home.createOrEditLabel">
        Créer ou éditer un Eunite
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.eunite.nomunite" for="field_nomunite">Nomunite</label>
          <input type="text" class="form-control" name="nomunite" id="field_nomunite" data-cy="nomunite" formControlName="nomunite" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.eunite.symboleunite" for="field_symboleunite">Symboleunite</label>
          <input
            type="text"
            class="form-control"
            name="symboleunite"
            id="field_symboleunite"
            data-cy="symboleunite"
            formControlName="symboleunite"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.eunite.facteur" for="field_facteur">Facteur</label>
          <input type="number" class="form-control" name="facteur" id="field_facteur" data-cy="facteur" formControlName="facteur" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.eunite.unitebase" for="field_unitebase">Unitebase</label>
          <select
            class="form-control"
            id="field_unitebase"
            data-cy="unitebase"
            name="unitebase"
            formControlName="unitebase"
            [compareWith]="compareEunite"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="euniteOption" *ngFor="let euniteOption of eunitesSharedCollection">{{ euniteOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
