<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-slocalite-heading" data-cy="SlocaliteCreateUpdateHeading" jhiTranslate="sgessApp.slocalite.home.createOrEditLabel">
        Créer ou éditer un Slocalite
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.slocalite.codelocalite" for="field_codelocalite">Codelocalite</label>
          <input
            type="number"
            class="form-control"
            name="codelocalite"
            id="field_codelocalite"
            data-cy="codelocalite"
            formControlName="codelocalite"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.slocalite.nomlocalite" for="field_nomlocalite">Nomlocalite</label>
          <input
            type="text"
            class="form-control"
            name="nomlocalite"
            id="field_nomlocalite"
            data-cy="nomlocalite"
            formControlName="nomlocalite"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.slocalite.parent" for="field_parent">Parent</label>
          <select
            class="form-control"
            id="field_parent"
            data-cy="parent"
            name="parent"
            formControlName="parent"
            [compareWith]="compareSlocalite"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="slocaliteOption" *ngFor="let slocaliteOption of slocalitesSharedCollection">{{ slocaliteOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.slocalite.natureLocalite" for="field_natureLocalite">Nature Localite</label>
          <select
            class="form-control"
            id="field_natureLocalite"
            data-cy="natureLocalite"
            name="natureLocalite"
            formControlName="natureLocalite"
            [compareWith]="compareScodevaleur"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="scodevaleurOption" *ngFor="let scodevaleurOption of scodevaleursSharedCollection">
              {{ scodevaleurOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sgessApp.slocalite.typeLocalite" for="field_typeLocalite">Type Localite</label>
          <select
            class="form-control"
            id="field_typeLocalite"
            data-cy="typeLocalite"
            name="typeLocalite"
            formControlName="typeLocalite"
            [compareWith]="compareScodevaleur"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="scodevaleurOption" *ngFor="let scodevaleurOption of scodevaleursSharedCollection">
              {{ scodevaleurOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
