<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="eunite">
      <h2 data-cy="euniteDetailsHeading"><span jhiTranslate="sgessApp.eunite.detail.title">Eunite</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ eunite.id }}</span>
        </dd>
        <dt><span jhiTranslate="sgessApp.eunite.nomunite">Nomunite</span></dt>
        <dd>
          <span>{{ eunite.nomunite }}</span>
        </dd>
        <dt><span jhiTranslate="sgessApp.eunite.symboleunite">Symboleunite</span></dt>
        <dd>
          <span>{{ eunite.symboleunite }}</span>
        </dd>
        <dt><span jhiTranslate="sgessApp.eunite.facteur">Facteur</span></dt>
        <dd>
          <span>{{ eunite.facteur }}</span>
        </dd>
        <dt><span jhiTranslate="sgessApp.eunite.unitebase">Unitebase</span></dt>
        <dd>
          <div *ngIf="eunite.unitebase">
            <a [routerLink]="['/eunite', eunite.unitebase.id, 'view']">{{ eunite.unitebase?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/eunite', eunite.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
